apiVersion: v1
kind: Secret
metadata:
  name: spezistudyplatform-backend-secret
  namespace: spezistudyplatform
  labels: {}
data:
  # This is gathered from keycloak. Currently not automatically pulled in.
  OAUTH_CLIENT_SECRET: ""
