apiVersion: v1
kind: Secret
metadata:
  name: spezistudyplatform-postgres-credentials
  namespace: spezistudyplatform
type: kubernetes.io/basic-auth
data:
  # these are both "abc" in base64. Purposely not long enough to be accepted as real creds, as they should be changed :) 
  username: YWJjCg==
  password: YWJjCg==
