apiVersion: v1
kind: Secret
metadata:
  name: spezistudyplatform-frontend-secret
  namespace: spezistudyplatform
type: Opaque
stringData:
  # Add your own secrets here if needed.
  EXAMPLE_SECRET: example_value