---
apiVersion: v1
kind: Secret
metadata:
  name: private-repo-server
  namespace: spezistudyplatform
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: github.com/example-org/example-repo
  password: REPLACE_ME
  username: REPLACE_ME